<section class="d-flex vh-100">
    <div class="contenedor-nav p-4 ">
        <h3 class="text-center">Panel de Administración</h3>
        <nav class="mt-4">
            <ul class="nav flex-column gap-4">
                <li class="nav-item">
                    <a class="nav-link " routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Gestión de Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/dashboard/inventory" routerLinkActive="active">Gestión de Inventarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  cierre" (click)="logout()">Logout</a>
                </li>
            </ul>
        </nav>
    </div>


    <div class="flex-grow-1 overflow-y-auto p-4">
        <!-- Mostrar el contenido de sus rutas hijas -->
        <router-outlet/>
    </div>
</section>





