.logo {
    color: var(--primary-color);
    font-weight: bold;
}

.btn-sesion {
    background-color: var(--primary-color);
    color: var(--text-dark);
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.btn-registro {
    background-color: var(--secondary-color);
    color: var(--text-dark);
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}