.Baner {
    width: 100vw;
    height: 50vh;
    background: var(--gradient-primary);
}



.Productos {
   width: 100vw;
    height: 50vh;
}

.llamado-action {
    width: 100vw;
    height: 30vh;
    background: var(--gradient-primary);
    
}